<ion-header>
  <ion-toolbar class="hdr-color">
    <ion-buttons slot="start">
       <ion-button id="sign-out-button" (click)="doFbLogout()"><ion-icon name="log-out"></ion-icon> Sign Out</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-image" padding>
  <form>
    <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h3>Please select departure and destination</h3>
            </div>
            <div padding>
              <ion-item>
                <ion-input name="email" type="email" placeholder="Departure" ngModel required></ion-input>
              </ion-item>
            </div>
            <div padding>
              <ion-item>
                <ion-input name="password" type="password" placeholder="Destination" ngModel required></ion-input>
              </ion-item>
            </div>
            <div padding>
             <ion-button size="large"  type="submit"  expand="block" [routerLink]="['/map-screen']">Start Trip</ion-button>
            </div>
          </ion-col>
         </ion-row>
      </ion-grid>
    </form>
</ion-content>
