ion-item{
    --background: #3880ff;
    --color: #fff;
    --border-radius:0;
}
ion-button{
    --background: #062f77;
    --color: #fff;
}

h3 {
    color:#062f77;
}

.bg-image {
    --background: url('../../assets/login-img.jpg') no-repeat center center / cover; 
}

#sign-out-button {
    --background: none;
    --color: #3880ff;
}

ion-list {
    --border-radius: none !important;
}

ion-searchbar {
    --background:none;
    --border-radius:20px !important;
}
