<ion-content class="bg-image" padding>
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h1>Trip Planner</h1>
            <h3>Schedule your next trip</h3>
          </div>
          <div class="mt" padding-top>
           <ion-button size="large"  (click)="doFbLogin()"  expand="block">
              <ion-icon slot="start" name="logo-facebook"></ion-icon> Sign In</ion-button>
          </div>
          <div text-center>
            <h6>Don't have an account? <a href="https://www.facebook.com/help/">Register</a></h6>
          </div>
          </ion-col>
       </ion-row>
    </ion-grid>
</ion-content>


